@import "tailwindcss";


/* Định nghĩa hiệu ứng chuyển động màu sắc */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 10s ease infinite;
}

img {
  max-width: 100%;
  display: block;
}

/* Chống tràn ngang cho toàn bộ web */
html, body {
  max-width: 100vw;
  overflow-x: hidden;
}